body {
    background: #007fc7;
}

h1 {
    position: static;
}

p {
    width: 300px;
}

.absolute {
    border: 1px solid red;
    background: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 80px;
}

.relative{
    border: 1px solid red;
    position: relative;
    /*top, right, bottom, left*/
    left: 200px;
    bottom: 100px;
}

.fixed{
    border: 1px solid red;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    background: white;
}


#container {
    background: #fff;
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}
