ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
li {
    padding: 10px 20px;
    background: url(imagens/seta.png) no-repeat left center;
}
*/

ul, li{
    float: left;
}

ul a {
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-indent: 30px;
    line-height: 40px;
    background:  #f7b600 url(imagens/menu.png) no-repeat;
}

ul a:hover {
    background-position: right;
    background-color: #f99200;
}

.teste a {
    background-position: right;
    background-color: #f99200;
}